@tailwind base;
@tailwind utilities;
@tailwind components;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

*:root {
  --font-family: "IBM Plex Sans", sans-serif;
  --main-color: #101828;
  --text-color: #0b0b0b;
  --gray-color: #344054;
  --border: #dfdfdf;
  --gray-border: #bfbfbf;
  --button: #004ccc;
  --bg: #f2f4f7;
  --white: #ffffff;
  --light-gray: #475467;
  --border: #eaecf0;
}

html {
  @apply scroll-smooth m-0 p-0 h-0 overflow-hidden max-h-[100%];
}

body {
  @apply bg-[#FCFCFD];

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--border);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--dark-gray-color);
  }
}

* {
  @apply p-0 m-0 box-border;
  font-family: var(--font-family);
}

a {
  color: inherit;
  @apply no-underline;
}
